<%- include('./partials/header') %>

    <main>

        <h2>
            <%= organizationDetails.name %>
        </h2>

        <img src="/images/<%= organizationDetails.logo_filename %>" alt="<%= organizationDetails.name %> Logo">

        <p>
            <%= organizationDetails.description %>
        </p>

        <h3>Service Projects</h3>

        <% if (projects.length> 0) { %>

            <ul>

                <% projects.forEach(project=> { %>

                    <li>
                        <a href="/project/<%= project.project_id %>">
                            <%= project.title %>
                        </a>
                    </li>

                    <% }) %>

            </ul>

            <% } else { %>

                <p>No projects available.</p>

                <% } %>

    </main>

    <%- include('./partials/footer') %>