<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <p class="org-p"><b>Upcoming Service Projects</b></p>
        <br>

        <ul>

            <% projects.forEach(project=> { %>

                <li>
                    <strong>
                    <%= new Date(project.project_date).toLocaleDateString('en-US', { year: 'numeric' , month: 'long' , day: 'numeric' }) %>
                    </strong>:
                    <%= project.title %>
                        (<%= project.organization_name %>)
                </li>

                <% }) %>

        </ul>

    </main>

    <%- include('partials/footer') %>